html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
}

header {
  margin-bottom: 30px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  opacity: 1;
  max-height: 38px;
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 6px;
  width: 400px;
  margin-top: 5px;
  font-size: 15px;
  border-width: thin;
  border-color: gainsboro;
}

#submit-button {
  position: absolute;
  width: 60px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-right: 16px;
  background: #ebebeb;
  font-size: 15px;
  border-width: thin;
  border-color: gainsboro;
  cursor: pointer;
}

.nav-buttons {
  margin: 5px;
}

.search-form {
  white-space: nowrap;
  display: table;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: #f8f8f8;
}
.main {
  /* background-color: yellow; */
  padding: 1em 1em 1em 4em;
}

.main-video {
}

iframe {
  width: 65vw;
  height: 75vh;
}
.aside {
  padding-top: 20px;
}
.view-history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #d3d3d3;
}
.view {
  justify-self: start;
  align-self: start;
}
.like-history {
  justify-self: end;
  align-self: start;
}
.description {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #d3d3d3;
}
.aside-grid {
  display: grid;
  grid-template-columns: 35% 65%;
}

#channel-icon {
  float: left;
  margin: 5px;
  margin-top: 15px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#channel-name {
  padding-top: 10px;
}

#subscribe {
  margin-bottom: 30px;
  margin-top: 30px;
  border: none;
  margin-left: auto;
  height: 30px;
  width: 90px;
  font-weight: 600;
  color: white;
  background-color: rgb(212, 3, 3);
}

.video-description {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #d3d3d3;
}

#view {
  font-weight: lighter;
  font-size: 14px;
}

.thumbnail {
  width: 180px;
}

.comment-section {
  padding: 16px 32px;
}

#sort {
  float: right;
}

#description {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #d3d3d3;
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 2fr;
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
    border-bottom: 2px solid #000;
  }
  .aside {
    padding-top: 30px;
    padding-left: 32px;
  }

  iframe {
    width: 100%;
    height: 300px;
  }
}

.users {
  border-radius: 50%;
  resize: 50%;
  float: left;
}

.usernames {
  padding-right: 30px;
  padding-left: 50px;
}
