html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
}

.wrapper {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 2fr 1fr;

  grid-gap: 1em;
}
.main {
  /* background-color: yellow; */
  padding: 1em 2em 1em 2em;
}

.main-video {
}

iframe {
  width: 65vw;
  height: 75vh;
}
.aside {
  /* background-color: red; */
}
.view-history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #d3d3d3;
}
.view {
  justify-self: start;
  align-self: start;
}
.like-history {
  justify-self: end;
  align-self: start;
}
.description {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #d3d3d3;
}
.aside-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
